<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}" />		
		<title> UTFPR </title>	
	</head>
	<body>
		<div id="pagina">
			<div id= "topo">
			</div>
			<div id="conteudo">
				<div id = "menu">
					<div class="menuToolbar"> <a href="curso.html">Cursos</a> </div>
					<div class="menuToolbar"> <a href="professor.html">Professores</a></div>
					<div class="menuToolbar"> <a href="departamentoacademico.html">Departamento Acadêmicos</a> </div>
					<div class="menuToolbar"> <a href="coordenacao.html">Coordenações</a> </div>
					<div id="menuToolbarFim"> <a href="eventos.html">Eventos</a>  </div>
				</div>
				<div id = "noticias">
					<div id="noticiaPrincipal">
					<div class="noticiaPrincipalLista"></div>
					<div class="noticiaPrincipalLista"></div>
					<div class="noticiaPrincipalLista"></div>
					</div>
					<div id="noticiaListaRandom">
						<div class="noticiaListaClass"><div>
						<div class="noticiaListaClass"><div>
						<div class="noticiaListaClass"><div>
						<div class="noticiaListaClass"><div>
					</div>				
				</div>
			</div>
			<div id ="rodape">
			</div>
		</div>
	</body>
</html>
