<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% load staticfiles %}
	
		<link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}" />		
		<title> UTFPR </title>	
	</head>
	<body>
		<div id="pagina">
			<div id= "topo">
				<div id="foto"></div>
				<div id="SiglaNomeDepartamento">
					<div id="siglaDepartamento">DACOM<!--departamento.sigla--></div>
					<div id="nomedoDepartamento">Departamento de Computação<!--departamento.nome--></div>
				</div>		
			</div>
			<div id="conteudo">
				<div id = "menu">
					<a href="index.html"><div class="menuToolbar">Início</div></a> 
					<a href="curso.html"><div class="menuToolbar">Cursos</div></a> 
					<a href="professor.html"><div class="menuToolbar">Professores</div></a>
					<a href="eventos.html"><div class="menuToolbar">Eventos</div></a>
					<div id="menuToolbarFim">
						<form>
							<div id="pesquisar">
								<input type="text" name="pesquisar" height="20" maxlength="50" name="pesquisar"  size=22"/>
							</div>
							<div id="submeter">
								<input type="submit" value="Pesquisar"/>
							</div>
						</form>
					</div>  
				</div>
				<div id="noticias">
					<!--<div id="nomedaPagina">Início</div>-->
					<div id="noticiaPrincipal">
						<div class="noticiaPrincipalLista">
							<div class="noticiaPrincipalTitulo">
								Internacionalização
							</div>
							<div class="noticiaPrincipalText">
								UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas
							</div>

<div class="noticiaPrincipalTitulo">
								Internacionalização
							</div>
							<div class="noticiaPrincipalText">
								UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas
							</div>
<div class="noticiaPrincipalTitulo">
								Internacionalização
							</div>
							<div class="noticiaPrincipalText">
								UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas
							</div>
<div class="noticiaPrincipalTitulo">
								Internacionalização
							</div>
							<div class="noticiaPrincipalText">
								UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas
							</div>
<div class="noticiaPrincipalTitulo">
								Internacionalização
							</div>
							<div class="noticiaPrincipalText">
								UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas
							</div>




						</div>	
					</div>
					<div id="noticiaListaRandom">
						<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>
<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>
<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>
<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>
<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>
<div class="noticiaListaClass">
							<div class="noticiaSecundariaTitulo">Internacionalização
							</div>
							<div class="noticiaSecundariaText">UTFPR realiza primeiro workshop de internacionalização com participação de instituições estrangeiras conveniadas</div>
						</div>

					</div>				
				</div>
			</div>
			<div id="rodape">
			</div>
		</div>
	</body>
</html>
