body
{
	border:0px;
	margin:0px;
}


#pagina
{
	position:absolute;
	width:950px;
	height:1000px;
	margin-left: -475px;
	left:50%;	
}

#topo
{
	position: relative;
	width: 950px;
	height:90px;
	background-color: #f9c61f;
	
}

#topo #foto
{
	position:relative;
	background: url("../../media/desenvolvimento/media/logo.png") no-repeat right bottom ;
	width:400px;
	height:90px;
	float:left;
}
.curso
{
	position: relative;
	width:950px;
	height:auto;
	float:left;
	color:#2b2b2b;
	font-size: 20px;
	background-color: #cccccc;
	top:10px;
}

.CursoNome
{
	position: relative;
	width:auto;
	height:auto;
	float:left;
	top:10px;

}
.CursoSigla
{
	position: relative;
	width:auto;
	height:auto;
	float:left;
	top:10px;
}

.CursoInformacao
{
	position: relative;
	width:auto;
	height:auto;
}
#conteudo
{
	position: relative;
	width:950px;
	height:700px;
}
#SiglaNomeDepartamento
{

	float:left;
	position:relative;
	width:500px;
	height:90px;
	color: #232323;
	font-size:32px;
}

#siglaDepartamento
{
	position:relative;
	width:500px;
	height:40px;
	color: #232323;
	font-size:32px;
}

#nomedoDepartamento
{
	position:relative;
	width:500px;
	height:40px;
	color: #232323;
	font-size:28px;
}

#menu
{
	position:relative;
	width:950px;
	height:35px;
	background-color: #dcd6d6; /*#bab3b3;*/
	float:left;
	text-align: center;
	font-size:20px;
	vertical-align: middle;
}


#rodape
{
	position: relative;
	width: 950px;
	height: 200px;
	background-color: #231f20;

}

#noticias
{
	position:relative;
	width: 950px;
	height: 700px;
	/*background-color: #2d2d2d;*/
	float:left;
	top:5px;
}


#menuToolbarFim
{
	position: relative;
	width: 300px;
	height:35px;
	float:left;
	vertical-align: 10px;
}

#pesquisar
{
	position:relative;
	width:180px;
	height:25px;
	left:5px;
	float:left;
}

#submeter
{
	position:relative;
	width:90px;
	height:25px;
	left:5px;
	float:left;
}

.menuToolbar
{
	position: relative;
	width: 150px;
	height:35px;
	float:left;
	/*background-color:#aaaaaa;*/
	text-decoration:none;
	vertical-align: 10px;
}
.menuToolbar:link
{
	background-color: #cccccc;
	text-decoration:none;
	color:#000000;
}
.menuToolbar:visited
{
	background-color: #cccccc;
	text-decoration:none;
	color:#000000;
}
.menuToolbar:hover
{
	background-color: #232b2b;
	text-decoration:none;
	color:#cccccc;
}
.menuToolbar:active
{
	background-color: #cccccc;
	text-decoration:none;
	color:#000000;
}


#nomedaPagina
{
	position:relative;
	width:950px;
	font-size:30px;
	color:#cccccc;
	background-color: #232323;	
}
#noticiaPrincipal
{
	position:relative;
	width:708px;
	height:700px;
	float:left;
	border-right: 1px #232323 solid;
	
}
#noticiaListaRandom
{
	position:relative;
	left:10px;
	width:230px;
	float:left;
	height:700px;
	border-right:1px #232323 solid;
	overflow:auto;
}

.noticiaPrincipalLista
{
	position:relative;
	margin-left:10px;
	border-bottom: 1px solid #000000;
	width:650px;
	height:200px;
	top:5px;
	right: 5px;
	border:1px;
}

.noticiaListaClass
{
	position:relative.
	border-bottom:1px solid #000000;
	width:230px;
	height:150px;
	border:1px;
}


a:link
{
	color:#000000;   
	text-decoration:none;
}

/* visited link */
a:visited
{
	color: #000000;
	text-decoration:none;
}

/* mouse over link */
a:hover
{
	color: #cccccc;
	text-decoration:none;
}

/* selected link */
a:active
{
	text-decoration:none;
	color: #cccccc;
}


.noticiaPrincipalTitulo
{
	text-decoration:none;
	color: #232323;
	font-size: 20px;
	top: 5px;
	width: 600px;
	left:5px;
	height:auto;	
}

.noticiaPrincipalText
{
	text-decoration:none;
	color: #cccccc;
	font-size: 12px;
	margin-top:20px;
	width:600px;
	left:10px;
	height:70px;
	
}

.noticiaSecundariaTitulo
{
	text-decoration:none;
	color: #232323;
	font-size: 15px;
	top:3px;
	left:3px;
	width:200px;
	height:40px;
	border:1px;
}
.noticiaSecundariaText
{
	text-decoration:none;
	color:#cccccc;
	font-size: 12px;
	top:3px;
	left:3px;
	width:200px;
	height:30px;
	border:1px;
}
