<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}

    <title>UTFPR - DACOM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <script type="text/javascript" href="{% static 'js/bootstrap.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/npm.js'%}"></script>

</head>
<body>
<div id="container">
    <header>
        <div class="width">
            <center>
                <a href="{% url 'desenvolvimento:index' %}">
                    <img src="{% static 'img/logo.png' %}"/>
                </a>
                <a href="{% url 'desenvolvimento:index' %}"><h3> DACOM - Departamento de Computação </h3></a>
            </center>
        </div>

    </header>
    <nav>
        <div class="width">
            <ul class="menu">
                <li  class="start selected"><a href="{% url 'desenvolvimento:index' %}">Início</a></li>
                <li><a href="{% url 'desenvolvimento:curso' %}">Cursos</a></li>
                <li><a href="{% url 'desenvolvimento:professor' %}">Professores</a></li>
                <li ><a href="{% url 'desenvolvimento:projetos' %}">Projetos</a></li>
                <li><a href="{% url 'desenvolvimento:eventos' %}">Eventos</a></li>
                <li class="text">
                    <form action="dacom/search" method="get">
                        <input type="text" name="q" size="80" value="Digite o sua pesquisa aqui"
                               onfocus="this.value='';"
                               autocomplete="on" class="s"/>
                        <input class="searchform" type="submit" value="Buscar" />
                    </form>
                </li>
                <li><a href="/search/"></a></li>
            </ul>
        </div>
    </nav>
    <div class="corpo">
        <section id="content">
            <article class="expanded">
                <h2>Ementa detalhes</h2>
                   <b>Código: </b> {{detailEmenta.sigla}}</br>
                    <b>Disciplina: </b> {{detailEmenta.nome}}</br>
                    <b>Carga Horaria Pratica: </b>{{detailEmenta.cargaHorariaPratica}}</br>
                    <b>Carga Horaria  Teórica: </b>{{detailEmenta.cargaHorariaTeorica}}</br>
                    <b>Ementa: </b>{{detailEmenta.ementa}}</br>
                     <div class="download">
                        <!--<div class="title">{{detailEmenta.file.name}}</div>-->
                        <!--<div class="size">{{detailEmenta.file.size}} bytes</div>-->
                        <div class="size">{{detailPlanoDeAula.upload.size|filesizeformat}}</div>
                         <a href='{{ MEDIA_URL }}{{ detailPlanoDeAula.upload }}'>{{ file.name }}</a>
                    </div>
                </ul>
            </article>
        </section>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="footer-content width">

            <ul>
                <a href="{% url 'desenvolvimento:index' %}">
                    <li><h3>Início</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:curso' %}">
                    <li><h3>Cursos</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:professor' %}">
                    <li><h3>Professores</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:eventos' %}">
                    <li><h3>Eventos</h3></li>
                </a>
            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            UTFPR - Universidade Tecnológica Federal do Paraná Câmpus Campo Mourão
            <!-- Desenvolvido por Humberto Moreira Gonçalves"-->
        </div>
    </div>
</div>
</body>
</html>
