<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}

    <title>UTFPR - DACOM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <script type="text/javascript" href="{% static 'js/bootstrap.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/npm.js'%}"></script>

</head>
<body>
<div id="container">
    <header>
        <div class="width">
            <center>
                <a href="{% url 'desenvolvimento:index' %}">
                    <img src="{% static 'img/logo.png' %}"/>
                </a>
                <a href="{% url 'desenvolvimento:index' %}"><h3> DACOM - Departamento de Computação </h3></a>
            </center>
        </div>

    </header>
    <nav>
        <div class="width">
            <ul class="menu">
                <li  class="start selected"><a href="{% url 'desenvolvimento:index' %}">Início</a></li>
                <li><a href="{% url 'desenvolvimento:curso' %}">Cursos</a></li>
                <li><a href="{% url 'desenvolvimento:professor' %}">Professores</a></li>
                <li ><a href="{% url 'desenvolvimento:projetos' %}">Projetos</a></li>
                <li><a href="{% url 'desenvolvimento:eventos' %}">Eventos</a></li>
                <li class="text">
                    <form action="/search/" method="get">
                        <input type="text" name="q" size="80" value="Digite o sua pesquisa aqui"
                               onfocus="this.value='';"
                               autocomplete="on" class="s"/>
                        <input class="searchform" type="submit" value="Buscar" />
                    </form>
                </li>
                <li><a href="/search/"></a></li>
            </ul>
        </div>
    </nav>
    <div class="corpo">
        <section id="content">
            <article class="expanded">
                <h2>Início</h2>
             <!--{{ project}}-->
                    {% for project in projects%}
                        <br/>
                        {%if project.nome|length > 0 %}

                            <div class="quadradoInteiro">
                                 <a href="{{project.nome}}/">   <h3 class="titulo">Projeto: {{ project.nome}}</h3></a>
                                     <div class="tab">

                                Professor:  <a href="{{project.professor}}/"><div class="nomeProfessor">{{project.professor}}</div></a>

                                          </a>
                                          <h5>Situação:</h5> {{project.situacao}}<br/>
                                          <h5>Natureza:</h5>  {{project.natureza}}<br/>
                                          <h5>Início:</h5>  {{project.datainicio}}<br/>
                                          <h5>Término:</h5>  {{project.datadefim}}<br/>
                                          <h5>Resumo:</h5>  {{project.resumo}}<br/>
                                          <h5>Integrantes:<br/>
                                              <!-- Gerosa e igor exemplo de integrantes  -->
                                             {% for i in integrantesProfessor %}
                                                {% ifequal i.professor project.professor.id %}
                                                    {% ifequal i.ehCoordenador True %}
                                                        Coordenador: {{i.nome}}
                                                    {% else %}
                                                        Integrantes {{i.nome}}
                                                    {% endifequal %}
                                                {% endifequal %}
                                              {% endfor %}
                                     </div>
                                <br/>
                            </div>
                          <br/>
                                  {%else%}
<br>
                              <div class="quadradoInteiro">
                                                <a href="{{project.titulo}}/"> <h3 class="titulo"> Artigo em Periódico: {{project.titulo}}</h3></a><br/>
                                                     <div class="tab">
                                                          <a href="{{project.id}}/">
                                                                <div class="nomeProfessor"> Professor: {{project.professorDoArtigo}}</div>
                                                          </a>
                                                          <h5>Data:</h5> {{project.data}}<br/>
                                                          <a href="{{project.doi}}"><h5>DOI:</h5>  {{project.doi}}<br/></a>
                                                          <h5>Nome Journal:</h5>  {{project.nomejournal}}<br/>
                                                          <h5>ISSN:</h5>  {{project.ISSN}}<br/>
                                                          <h5>Editora:</h5>  {{project.publisher}}<br/>
                                                          <h5>Numero:</h5>  {{project.numero}}<br/>
                                                          <h5>Volume:</h5>  {{project.volume}}<br/>
                                                          <h5>Resumo:</h5>  {{project.resumo}}<br/>
                                                          <h5>Autores:<br/>
                                                              {%for prof in project.professores.all %}
                                                                {{prof.nome}}
                                                              <br/>
                                                              {%endfor%}


                                                     </div>
                                                <br/>
                                            </div>
                                          <br/>
                        {%endif%}
                      {% endfor %}

            <br/>


                    <!--<div class="pagination">-->

    <!--<span class="step-links">-->

        <!--{% if project.has_previous %}-->

            <!--<a href="?page={{ projects.previous_page_number }}" class="anterior">Anterior</a>-->
        <!--{% endif %}-->

        <!--<span class="current">-->

        <!--Página {{ project.number }} de {{ project.paginator.num_pages }}-->
        <!--</span>-->

        <!--{% if project.has_next %}-->
            <!--<a href="?page={{ projects.next_page_number }}">Próxima</a>-->
        <!--{% endif %}-->
    <!--</span>-->
                    <!--</div>-->

                </ul>
            </article>
        </section>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="footer-content width">

            <ul>
                <a href="{% url 'desenvolvimento:index' %}">
                    <li><h3>Início</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:curso' %}">
                    <li><h3>Cursos</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:professor' %}">
                    <li><h3>Professores</h3></li>
                </a>
            </ul>
            <ul>
                <a href="{% url 'desenvolvimento:eventos' %}">
                    <li><h3>Eventos</h3></li>
                </a>
            </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            UTFPR - Universidade Tecnológica Federal do Paraná Câmpus Campo Mourão
            <!-- Desenvolvido por Humberto Moreira Gonçalves"-->
        </div>
    </div>
</div>
</body>
</html>
