<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}

    <title>UTFPR - DACOM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <script type="text/javascript" href="{% static 'js/bootstrap.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" href="{% static 'js/npm.js'%}"></script>

</head>
<body>
<div id="container">
    <header>
        <div class="width">
            <center>
                <a href="{% url 'desenvolvimento:index' %}">
                    <img src="{% static 'img/logo.png' %}"/>
                </a>
                <a href="{% url 'desenvolvimento:index' %}"><h3> DACOM - Departamento de Computação </h3></a>
            </center>
        </div>

    </header>
    <nav>
        <div class="width">
            <ul class="menu">
                <li ><a href="{% url 'desenvolvimento:index' %}">Início</a></li>
                <li><a href="{% url 'desenvolvimento:curso' %}">Cursos</a></li>
                <li><a href="{% url 'desenvolvimento:professor' %}">Professores</a></li>
                <li class="start selected"><a href="{% url 'desenvolvimento:projetos' %}">Projetos</a></li>
                              <li><a href="{% url 'desenvolvimento:publicacao' %}">Publicações</a></li>
                <li><a href="{% url 'desenvolvimento:eventos' %}">Eventos</a></li>
                <li class="text">
                    <form action="/dacom/search" method="get">
                        <input type="text" name="q" size="68%" value="Digite o sua pesquisa aqui"
                               onfocus="this.value='';"
                               autocomplete="on" class="s"/>
                        <input type="submit" value="Buscar" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="corpo">
        <section id="content">
            <article class="expanded">
                <h2>Projetos</h2>

                    {% for project in projects%}
                            <div class="quadradoInteiro">
                                 <a href="{%url 'desenvolvimento:projetos' %}/{{project.nome}}">   <h3 class="titulo">Projeto: {{ project.nome}}</h3></a>
                                     <div class="tab">

                                          <h5>Situação:</h5> {{project.situacao}}<br/>
                                          <h5>Natureza:</h5>  {{project.natureza}}<br/>
                                          <h5>Início:</h5>  {{project.datainicio}}<br/>
                                          <h5>Término:</h5>  {{project.datadefim}}<br/>
                                          <h5>Resumo:</h5>  {{project.resumo}}<br/>
                                          <b>  Professores Participante(s): </b><br>{% for i in project.integrantesProfessor.all %}
                                         <img src="{{ i.professor.profile_image }}" height="100"/>
                                         <a href="{%url 'desenvolvimento:professor' %}/{{i.professor.nome}}">{{   i}} </a>;<br>


                                              {% endfor%}
                                              <br>
                                            {%ifequal project.integrantes.all|length 0%}
                                            {%else%}
                                         <b>Integrante(s): </b>

                                              {% for i in project.integrantes.all %}
                                              {{i }};
                                              {% endfor%}
                                              <br>
                                            {%endifequal%}
                                     </div>
                                <br/>
                            </div>
                          <br/>
                    {% endfor %}

                    <div class="pagination">

    <span class="step-links">

        {% if projects.has_previous %}

            <a href="?page={{ projects.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">

        Página {{ projects.number }} de {{ projects.paginator.num_pages }}
        </span>

        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
                    </div>

                </ul>
            </article>
        </section>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="footer-content width">

                              <ul>
                        <a href="{% url 'desenvolvimento:index' %}">
                            <li><h3>Início</h3></li>
                        </a>
                    </ul>
                    <ul>
                        <a href="{% url 'desenvolvimento:curso' %}">
                            <li><h3>Cursos</h3></li>
                        </a>
                    </ul>
                    <ul>
                        <a href="{% url 'desenvolvimento:professor' %}">
                            <li><h3>Professores</h3></li>
                        </a>
                    </ul>
                    <ul>
                        <a href="{% url 'desenvolvimento:projetos' %}">
                            <li><h3>Projetos</h3></li>
                        </a>
                    </ul>
                    <ul>
                        <a href="{% url 'desenvolvimento:publicacao' %}">
                            <li><h3>Publicações</h3></li>
                        </a>
                    </ul>
                    <ul>
                        <a href="{% url 'desenvolvimento:eventos' %}">
                            <li><h3>Eventos</h3></li>
                        </a>
                    </ul>

            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            UTFPR - Universidade Tecnológica Federal do Paraná Câmpus Campo Mourão
            <!-- Desenvolvido por Humberto Moreira Gonçalves"-->
        </div>
    </div>
</div>
</body>
</html>